#!/bin/sh
BASE_URL='https://raw.githubusercontent.com/wpinvestigative/the-littlest-jupyterhub'
GIT_BRANCH='development'

curl $BASE_URL/$GIT_BRANCH/bootstrap/bootstrap.py \
 | sudo python3 - \
   --admin YOUR_ADMIN_USER \
   --user-requirements-txt-url $BASE_URL/$GIT_BRANCH/wpinvestigative-requirements.txt \
   --plugin git+https://github.com/kafonek/tljh-shared-directory
